.text-center {
    text-align: center;
}

.hide-label {
    >label {
        display: none;
    }
}

.auth-form, .login-form {
    max-width: 400px;
    background-color: white;
    border: 1px solid #ccc; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

// .google {
   

// }

// .microsoft {
   
// }